.header {
    background-color: #ddd;

    .navbar {
        padding: 1em 0;
    }
    .nav-item+.nav-item {
        margin-left: 1em;
    }

    .nav-link {
        color: white;
        border-radius: 4em;
        background-color: #333;
    }
}
    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler {
        border: 1px solid black;
        padding: 2em;
        line-height: 1 .1em;
    }
   
    .logo {
     padding: 1em;
     font-size: 2em;
     text-transform: uppercase;
     background-color: #ccc;
     border-radius: .5em;
     color: black;
 }
 .logo-hover {
    color:white 
 }

 .about {
    background-color: #333;
    color:white;
 }

 .slider {
     img {
        height: 200px;
        object-fit: cover; 
     }
 }

 @media (max-width: 992px) {
     
    .header {
        .navbar-nav {
            margin-top: 1em;
            text-align: center;
        }
        .nav-item+.nav-item {
      margin-left: 0; 
        }

    .nav-link {
        border-radius: 0;
        border: none; 
        border-bottom: 1px dotted white;
    }
    }
 }